<app-navbar></app-navbar>

<!-- Utilize uma div 'row' para envolver as divs esquerda e direita -->
<div class="container mt-5">
    <div class="row">
        <!-- Div da esquerda -->
        <div class="col-md-6" style="background-color: rd;">
            <div class="mt-5">
                <h1>Reservas da semana</h1>
                <hr class="linha">
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card na Esquerda</h5>
                    <p class="card-text">Este é um card posicionado abaixo do HR.</p>
                </div>
            </div>
        </div>
        <!-- Div da direita -->
        <div class="col-md-6" style="background-color: lue;">
            <div class="mt-5">
                <h1>Item</h1>
                <hr class="linha">
            </div>
        </div>
    </div>
</div>

<!-- Adicione o Bootstrap JS (opcional, para funcionalidades avançadas) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
